@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    font-feature-settings: "ss03";
    font-style: normal;
    src: url("../public/font/Satoshi-Variable.ttf");
}

  .special-t, .special-t * {
    font-family: "Satoshi";
    font-feature-settings: "ss03";
  }

  .body-editable.show-placeholder::before {
    content: attr(data-placeholder);
    color: #a3a3a3;
    pointer-events: none;
  }

  .dark .body-editable.show-placeholder::before {
    color: #525252;
  }